@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  }
}

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-gray-900 rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all 
    hover:border-primary/40 hover:text-primary/40;
  }

  .contactInput {
    @apply outline-none bg-gray-100/10 rounded-sm border-b px-6 py-4 border-gray-900
    text-gray-500 placeholder-gray-500 transition-all focus:border-primary/40 
    focus:text-primary/40 hover:border-primary/40;
  }

  .sectionTitle {
    @apply absolute top-24 uppercase tracking-[20px] text-gray-500 text-2xl;
  }
}

.animate-text-gradient {
  background: linear-gradient(to right, #7953cd 20%, #00affa 30%, #0190cd 70%, #764ada 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
